In [37]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

purchase_data.info()
purchase_data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 780 entries, 0 to 779
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Purchase ID  780 non-null    int64
 1   SN           780 non-null    object
 2   Age          780 non-null    int64
 3   Gender       780 non-null    object
 4   Item ID      780 non-null    int64
 5   Item Name    780 non-null    object
 6   Price        780 non-null    float64
dtypes: float64(1), int64(3), object(3)
memory usage: 42.8+ KB

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [38]:
# calculate total players count 
total_players = purchase_data['SN'].nunique()

# create a data frame with total_players count 
player_count_df = pd.DataFrame({"Total players":total_players},index = [0])
player_count_df

   Total players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [55]:
# Calculating the Number of unique Items
unique_items = purchase_data["Item ID"].nunique()

# Calculating the Average Price
avg_price = purchase_data["Price"].mean()

# Calculating the Number of Purchases
no_of_purchases = purchase_data["Purchase ID"].count()

# Calculating and currency formatting the Total Price
total_price = "${:.2f}".format(purchase_data["Price"].sum())

# creating a summary dataframe
summary_data = pd.DataFrame({"Number of Unique Items":unique_items,"Average Price":avg_price,"Number of Purchases":no_of_purchases,"Total Revenue":total_price}, index=[0])

# rounding and adding currency formating to Average Price columns
summary_data['Average Price'] = summary_data['Average Price'].map("${:.2f}".format)
summary_data

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [43]:
# calculating Number of players in each Gender
gender_count = purchase_data.groupby("Gender")["SN"].nunique()

# calculating Percentage of Players in each Gender
gender_percent = gender_count / total_players * 100

# creating a new data frame with Total Players and Percentage of Players in each Gender
gender_data  = pd.DataFrame({"Total Players":gender_count, "Percentage of Players": gender_percent})

# sorting and adding percentage format styling to display
gender_data.sort_values(["Total Players"], ascending = False).style.format({"Percentage of Players":"{:.2f}%"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [53]:
# Using aggregate function to run basic calculations on Price group by gender
gender_purchase_data = purchase_data.groupby("Gender")["Price"].agg(['count','mean','sum'])

# Adding another coulumn to the Data Frame for Avg Purchase per person
gender_purchase_data["Avg Total Purchase per Person"] = purchase_data.groupby("Gender")["Price"].sum() / gender_count

# Renaming column headers 
gender_purchase_data = gender_purchase_data.rename(columns={"count":"Purchase Count", "mean":"Average Purchase Price", "sum":"Total Purchase Value"})

# Adding currency format styling to display
gender_purchase_data.style.format({"Average Purchase Price": "${:.2f}", 
                                   "Total Purchase Value": "${:.2f}", 
                                   "Avg Total Purchase per Person": "${:.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins.


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
age_data

NameError: name 'age_data' is not defined

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:
age_purchase_data

## Top Spenders

Identify the the top 5 spenders in the game by total purchase value:

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:
# Using aggregate function to run basic calculations on Price group by SN
spender_purchase_data = purchase_data.groupby("SN")["Price"].agg(['count','mean','sum'])

# Renaming column headers 
spender_purchase_data = spender_purchase_data.rename(columns={"count":"Purchase Count", "mean":"Average Purchase Price", "sum":"Total Purchase Value"})

# Sort in descending order of 'Total Purchase Value' and obtain top 5 spender names and adding currency format styling
top_spenders = spender_purchase_data.sort_values(["Total Purchase Value"], ascending = False).head().style.format({"Average Purchase Price":"${:.2f}", "Total Purchase Value":"${:.2f}"})

top_spenders

## Most Popular Items

Identify the 5 most popular items by purchase count:

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:
# Retrieve the Item ID, Item Name, and Item Price columns
item_data = purchase_data.loc[:,["Item ID", "Item Name", "Price"]]

# Group by Item ID and Item Name
item_group = item_data.groupby(["Item ID","Item Name"])

# create a data frame with calculated values of purchase count, item price, and total purchase value
item_purchase_data = pd.DataFrame({"Purchase Count":item_group["Price"].count(),
                                  "Item Price":item_group["Price"].mean(),
                                  "Total Purchase Value":item_group["Price"].sum()})

# Sort in descending order of 'Purchase Count' and obtain top 5 Popular Items and adding currency format styling
top_items = item_purchase_data.sort_values(["Purchase Count"], ascending = False).head().style.format({"Item Price":"${:.2f}", "Total Purchase Value":"${:.2f}"})

top_items

## Most Profitable Items

Identify the 5 most profitable items by total purchase value:

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [ ]:
# Sort in descending order of 'Total Purchase Value' and obtain top 5 Profitable Items and adding currency format styling
top_profitable_item = item_purchase_data.sort_values(["Total Purchase Value"], ascending = False).head().style.format({"Item Price":"${:.2f}", "Total Purchase Value":"${:.2f}"})
top_profitable_item