In [96]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

# Set CSS properties for th elements in dataframe
th_props = [('border', 'thin solid'),
            ('text-align', 'left'),
            ('background-color', '#dfdfdf')]

# Set CSS properties for td elements in dataframe
td_props = [('border', 'thin solid'),
            ('text-align', 'left')]

# Set table styles
styles = [dict(selector="th", props=th_props),
          dict(selector="td", props=td_props)]

purchase_data.head().style.set_table_styles(styles)

## Player Count

* Display the total number of players

In [97]:
# calculate total players count 
total_players = purchase_data['SN'].nunique()

# create a data frame with total_players count 
player_count_df = pd.DataFrame({"Total players":total_players},index = [0])

player_count_df.style.set_table_styles(styles)

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [98]:
# Calculating the Number of unique Items
unique_items = purchase_data["Item ID"].nunique()

# Calculating the Average Price
avg_price = purchase_data["Price"].mean()

# Calculating the Number of Purchases
no_of_purchases = purchase_data["Purchase ID"].count()

# Calculating and currency formatting the Total Price
total_price = purchase_data["Price"].sum()

# creating a summary dataframe
summary_data = pd.DataFrame({"Number of Unique Items":unique_items,
                             "Average Price":avg_price,
                             "Number of Purchases":no_of_purchases,
                             "Total Revenue":total_price}, 
                            index=[0])

# rounding and adding currency formating to Average Price columns
summary_data['Average Price'] = summary_data['Average Price'].map("${:.2f}".format)
summary_data['Total Revenue'] = summary_data['Total Revenue'].map("${:.2f}".format)

summary_data.style.set_table_styles(styles)

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [99]:
# calculating Number of players in each Gender
gender_count = purchase_data.groupby("Gender")["SN"].nunique()

# calculating Percentage of Players in each Gender
gender_percent = gender_count / total_players * 100


# creating a new data frame with Total Players and Percentage of Players in each Gender
gender_data  = pd.DataFrame({"Total Count":gender_count, 
                             "Percentage of Players": gender_percent})

# formating the display table
gender_data_styled = gender_data.copy()
gender_data_styled.index.name = None

# sorting and adding percentage format styling to display
gender_data_styled = gender_data_styled.sort_values(["Total Count"], ascending = False) \
                     .style.format({"Percentage of Players":"{:.2f}%"}) \
                     .set_table_styles(styles) 

gender_data_styled


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [100]:
gender_group = purchase_data.groupby("Gender")

# Using aggregate function to run basic calculations on Price group by gender
gender_purchase_data = gender_group["Price"].agg(['count','mean','sum'])

# Adding another coulumn to the Data Frame for Avg Purchase per person
gender_purchase_data["Avg Total Purchase per Person"] = gender_group["Price"].sum() / gender_count

# Renaming column headers 
gender_purchase_data = gender_purchase_data.rename(columns={"count":"Purchase Count", 
                                                            "mean":"Average Purchase Price", 
                                                            "sum":"Total Purchase Value"})

# Adding currency format styling to display
gender_purchase_data.style.format({"Average Purchase Price": "${:.2f}", 
                                   "Total Purchase Value": "${:.2f}", 
                                   "Avg Total Purchase per Person": "${:.2f}"}) \
                          .set_table_styles(styles)

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins.


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [101]:
# Calculating Maximum of Age in the data set
max_age = purchase_data["Age"].max()

# Create the bins in which Data will be held
bins = [0, 9, 14, 19, 24, 29, 34, 39, max_age]

# Create the names for the five bins
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Categorize the existing players using the age bins.
purchase_data["Age Ranges"] = pd.cut(purchase_data["Age"], bins, labels=group_names, include_lowest=True)
age_group = purchase_data.groupby(["Age Ranges"])

# Calculating Number of Players and Percentage of Players in each Age Group
age_count = age_group["SN"].nunique()
player_percent = age_count / total_players * 100

# creating a new data frame with Total Players and Percentage of Players in each Age Group
age_data = pd.DataFrame({"Total Count": age_count,
                          "Percentage of Players": player_percent})

# formating the display table
age_data_styled = age_data.copy()
age_data_styled.index.name = None

age_data_styled = age_data_styled.style.format({"Percentage of Players": "{:.2f}%"}) \
                                       .set_table_styles(styles)

age_data_styled

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [102]:
# Using aggregate function to run basic calculations on Price group by Age
age_purchase_data = age_group["Price"].agg(["count","mean","sum"])

# Adding another coulumn to the Data Frame for Avg Purchase per person
age_purchase_data["Avg Total Purchase per Person"] = age_group["Price"].sum() / age_count

# Renaming column headers 
age_purchase_data = age_purchase_data.rename(columns={"count": "Purchase Count",
                                                      "mean": "Average Purchase Price",
                                                      "sum": "Total Purchase Value"})
# Adding currency format styling to display
age_purchase_data.style.format({"Average Purchase Price": "${:.2f}", 
                                "Total Purchase Value": "${:.2f}", 
                                "Avg Total Purchase per Person": "${:.2f}"}) \
                       .set_table_styles(styles)

## Top Spenders

Identify the the top 5 spenders in the game by total purchase value:

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [103]:
# Using aggregate function to run basic calculations on Price group by SN
spender_purchase_data = purchase_data.groupby("SN")["Price"].agg(['count','mean','sum'])

# Renaming column headers 
spender_purchase_data = spender_purchase_data.rename(columns={"count":"Purchase Count", 
                                                              "mean":"Average Purchase Price", 
                                                              "sum":"Total Purchase Value"})

# Sort in descending order of 'Total Purchase Value' and obtain top 5 spender names and adding currency format styling
top_spenders = spender_purchase_data.sort_values(["Total Purchase Value"], ascending = False) \
               .head().style.format({"Average Purchase Price":"${:.2f}", "Total Purchase Value":"${:.2f}"}) \
                            .set_table_styles(styles)

top_spenders

## Most Popular Items

Identify the 5 most popular items by purchase count:

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [104]:
# Retrieve the Item ID, Item Name, and Item Price columns
item_data = purchase_data.loc[:,["Item ID", "Item Name", "Price"]]

# Group by Item ID and Item Name
item_group = item_data.groupby(["Item ID","Item Name"])

# create a data frame with calculated values of purchase count, item price, and total purchase value
item_purchase_data = pd.DataFrame({"Purchase Count":item_group["Price"].count(),
                                  "Item Price":item_group["Price"].mean(),
                                  "Total Purchase Value":item_group["Price"].sum()})

# Sort in descending order of 'Purchase Count' and obtain top 5 Popular Items and adding currency format styling
top_items = item_purchase_data.sort_values(["Purchase Count"], ascending = False) \
                              .head() \
                              .style.format({"Item Price":"${:.2f}", "Total Purchase Value":"${:.2f}"}) \
                                    .set_table_styles(styles)

top_items

## Most Profitable Items

Identify the 5 most profitable items by total purchase value:

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [105]:
# Sort in descending order of 'Total Purchase Value' and obtain top 5 Profitable Items and adding currency format styling
top_profitable_item = item_purchase_data.sort_values(["Total Purchase Value"], ascending = False) \
                      .head().style.format({"Item Price":"${:.2f}", "Total Purchase Value":"${:.2f}"}) \
                                   .set_table_styles(styles)
top_profitable_item